* {
  text-decoration: none;
  color: black;
}

.link:hover,
.nav-link:hover {
  color: darkgreen;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-left {
  display: flex;
  gap: 3em;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sort-posts {
  display: flex;
}

.sorting-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em 0;
}

img {
  width: 500px;
  height: 400px;
}

.all-posts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 4em;
  padding: 0 2em;
}

.all-post img {
  width: 100%;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.auth-page {
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  height: 10em;
  width: 20em;
  gap: 1em;
}
