.navbar {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.slots {
  display: flex;
}

.slot {
  height: 13em;
  width: 10em;
  border: 1px solid black;
}

.leaderboard {
  width: 100vw;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
}

img {
  height: 15em;
  width: 15em;
}

.roulette {
  margin: 3em;
  display: flex;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Left side of the triangle */
  border-right: 10px solid transparent; /* Right side of the triangle */
  border-top: 10px solid red;
}
